<div class="logo-marquee">
  <div class="marquee-track">

    <a href="https://www.dare.tudelft.nl" target="_blank" rel="noopener">
      <img src="img/logo-dare.jpeg" alt="Delft Aerospace Rocket Engineering (DARE)">
    </a>

    <a href="https://esero.nl" target="_blank" rel="noopener">
      <img src="img/logo-esero.svg" alt="ESERO Netherlands">
    </a>

    <a href="https://www.esa.int" target="_blank" rel="noopener">
      <img src="../img/Logo-esa.svg" alt="European Space Agency">
    </a>

    <a href="https://www.keizerkarelcollege.nl" target="_blank" rel="noopener">
      <img src="img/logo-kkc.avif" alt="Keizer Karel College">
    </a>

    <a href="https://lunarix.github.io" target="_blank" rel="noopener">
      <img src="img/whitetest.PNG" alt="Lunaris-X">
    </a>

    <a href="https://www.spaceoffice.nl" target="_blank" rel="noopener">
      <img src="img/logo-nso.png" alt="Netherlands Space Office">
    </a>

    <!-- Repeat set for smooth marquee -->
    <a href="https://www.dare.tudelft.nl" target="_blank" rel="noopener">
      <img src="img/logo-dare.jpeg" alt="DARE">
    </a>

    <a href="https://esero.nl" target="_blank" rel="noopener">
      <img src="img/logo-esero.svg" alt="ESERO">
    </a>

    <a href="https://www.esa.int" target="_blank" rel="noopener">
      <img src="img/Logo-esa.svg" alt="ESA">
    </a>

    <a href="https://www.keizerkarelcollege.nl" target="_blank" rel="noopener">
      <img src="img/logo-kkc.avif" alt="Keizer Karel College">
    </a>

    <a href="https://lunarix.github.io" target="_blank" rel="noopener">
      <img src="img/whitetest.PNG" alt="Lunaris-X">
    </a>

    <a href="https://www.spaceoffice.nl" target="_blank" rel="noopener">
      <img src="img/logo-nso.png" alt="NSO">
    </a>      
    
    <!-- Repeat set for smooth marquee -->
    <a href="https://www.dare.tudelft.nl" target="_blank" rel="noopener">
      <img src="img/logo-dare.jpeg" alt="DARE">
    </a>

    <a href="https://esero.nl" target="_blank" rel="noopener">
      <img src="img/logo-esero.svg" alt="ESERO">
    </a>

    <a href="https://www.esa.int" target="_blank" rel="noopener">
      <img src="img/Logo-esa.svg" alt="ESA">
    </a>

    <a href="https://www.keizerkarelcollege.nl" target="_blank" rel="noopener">
      <img src="img/logo-kkc.avif" alt="Keizer Karel College">
    </a>

    <a href="https://lunarix.github.io" target="_blank" rel="noopener">
      <img src="img/whitetest.PNG" alt="Lunaris-X">
    </a>

    <a href="https://www.spaceoffice.nl" target="_blank" rel="noopener">
      <img src="img/logo-nso.png" alt="NSO">
    </a>   

  </div>
</div>
